.array-container {
  position: absolute;
  left: 100px;
  top: 20px;
  background-color: ghostwhite;
}
.array-bar {
  /* width: 12px; */
  width: 6px;
  display: inline-block;
  margin: 0 1px;
}

.button {
  background-color: #008cba;
  /* margin-top: auto;
  margin-left: 20px;
  margin-right: 20px; */
  margin: auto;
  border-radius: 12px;
  padding: 14px 40px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: #4caf50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* .disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */
/* .buttons {
  /* position: relative; */
/* t r b l */
/* padding: 0px 50px 10px 250px;
  margin-left: 150px;
  position: absolute;
  bottom: 0px; */

/* position: absolute;
  bottom: 0px;
  right: 25%;
  left: 40%;
  margin-left: -150px; */
/* }  */
